@font-face{
 font-family:"Minecraft";
 src:url("../ttf/Minecraft.ttf");
}
@font-face{
 font-family:"MS Gothic";
 src:url("../ttf/MS Gothic.ttf");
}
*{
 font-family:"MS Gothic";
 font-size:32px;
 margin:0px;
 padding:0px;
 text-decoration:none;
}
body{
 background-image:url("../png/body.png");
 height:1536px;
 width:1024px;
}
header{
 background-image:url("../png/header.png");
 display:table-cell;
 color:white;
 font-family:"Minecraft";
 font-size:128px;
 font-weight:bolder;
 height:256px;
 text-align:center;
 vertical-align:middle;
 width:1024px;
}
main{
 display:flex;
 height:1024px;
 width:1024px;
}
footer{
 height:256px;
 width:1024px;
}
nav{
 height:1024px;
 width:256px;
}
article{
 height:1024px;
 overflow:scroll;
 width:768px;
}
section{
 -moz-border-image:url("../png/section.png") 256 round;
 -ms-border-image:url("../png/section.png") 256 round;
 -o-border-image:url("../png/section.png") 256 round;
 -webkit-border-image:url("../png/section.png") 256 round;
 border-image:url("../png/section.png") 256 fill round;
 border-style:solid;
 border-width:64px;
 display:flex;
}
.title{
 color:white;
 font-family:"Minecraft";
 font-size:128px;
}
.icon{
 height:128px;
 width:128px;
}
.community{
 height:288px;
 width:512px;
}
.paragraph{
 margin-top:1em;
}
.predicate{
 color:white;
}
.subject{
 color:yellow;
 font-size:64px;
}
